extends layout

block content
  h1= title
  h2 One task at a time.

  script#todoTaskTemplate(type='text/template')
    a#delete-link(href='#', class='deleteTodoTask', title='Delete from this todo list') Delete
    &nbsp; &dash; &nbsp;
    a#next-link(href='#', class='nextTodoTask', title='Set as the next task') Next
    &nbsp;
    input(type='checkbox', title='Done')

  script#completedTaskTemplate(type='text/template')
    li <%=task%> &mdash; Time spent: <%=timeSpent%> Ended: <%=timeEnded%>.

  audio#chime(preload='auto')
    source(src='audio/chime.wav', type='audio/wav')
      Your browser doesn't support WAV files in the audio element.

  #about-container
    button#about-button About &rsaquo;

    #about
      p <strong><em>Unitaskr</em></strong> is a productivity tool that allows 
        | you to set tasks you want to perform, and add a timer.
      p Unitasking (a.k.a Monotasking), means creating blocks of time to perform
        | one task at a time. Thus, it's the opposite of multi-tasking.
      p It's easy to get caught up doing one task so much that you lose track 
        | of time and never end up getting to all the tasks on your todo list. 
        | Unitaskr aims to solve this problem.
      p I'm a fan of the Pomodoro technique, so I made it the timer default to
        | 25 minutes.
      p Note that Unitaskr currently doesn't save anything, so if you refresh
        | the page you will restart the program.

      button#hide-about &lsaquo; Hide About
      hr

  div#taskbar-container
    #current-task
      span
        strong Currently Set Task: &nbsp;
      span#current-task-text
      &nbsp;
      span
        a(href='#', data-target='current-task-text', data-msg='Current Task') [edit]

    p#usage-no-timer Enter the first task.
    p#usage-timer
      | Enter the amount of time to spend doing the <em>current</em> task before being alerted
      | when it's time to do the next task.

    form#taskbar(name='taskbar', action='')
      #task-bar
        #timer-input
          label(for='hours') Hours
          input#hours(type='text', size='1', value='00')
          label(for='minutes') Minutes
          input#minutes(type='text', size='1', value='25')
          label(for='hours') Seconds
          input#seconds(type='text', size='1', value='00')
        #task-input
          strong#task-desc Current Task &nbsp;
          input#task(type='text', placeholder='Task', autofocus)
          input(type='submit', value='Set')
      div
        label(for='sound') Sound
        input#sound-check(type="checkbox", title="Play sound with alarm", value="sound", checked)
      #time-bar
        span#update-time &nbsp;
        a#stop-countdown(href='#') stop early &nbsp;
        a#cancel-countdown(href='#') cancel

    #next-task-name
      span
        strong Next Task: &nbsp;
      span#next-task .larger-text ? &nbsp;
      span
        a(href='#', data-target='next-task', msg='Next Task') [edit]

  #notes
    fieldset#current-notes-input
      legend Current Task Notes &nbsp;
        a#current-notes(href='#') [clear]
      textarea#current-textarea(rows='6', cols='20')

    fieldset#next-notes-input
      legend Next Task Notes &nbsp;
        a#next-notes(href='#') [clear]
      textarea#next-textarea(rows='6', cols='20')

  #todo
    #todo-list-heading To-Do List
    form(name='todoform', action='')
      span#todo-task-input-desc
        label(for='todo-task') Task 
        input#todo-task(type='text')
      span
        input(type='submit', value='Add')
      #todo-list-box
        ul#todo-list

  #completed-tasks-log
    h3 Completed Tasks / Time Log
    ul#completed-tasks
