extends layout

block content
  h1= title
  h2 One task at a time.

  script
    $(document).on("submit", "form#taskbar", function(e) { 
      e.preventDefault(); 
      startTimer(); 
    });

  #about-container
    button#about-button About &rsaquo;

    #about
      p Unitasking (monotasking), means focusing on one job, project, or goal at 
        | a time, completing that task, and moving on to the next one. Thus, it's
        | the opposite of multi-tasking.
      p <strong><em>Unitaskr</em></strong> is a simple productivity tool that 
        | allows you to set tasks you want to perform, just for today, and a time 
        | when you want to start performing them, then it alerts you when it's 
        | time to move to the next task.
      p It's very easy to get caught up in one task so much that you lose track 
        | of time and never end up getting to all the tasks on your todo list. 
        | Unitaskr aims to solve this problem.
      p The interface is designed to allow you to quickly enter new tasks, and 
        | optional notes about them.
      p Manually starting the timer between each task allows you to take as long
        | of a break between tasks as you want.
      p You'll need to enable popups for unitaskr to be able to alert you. 
        | Unitaskr doesn't use cookies, so if you refresh the page you will
        | restart the program.
      p Tip: Time management studies show that it's best to take care of as many
        | small, quick-to-do, tasks as possible right away--such as writing quick 
        | emails and starting the dishwasher--that way, you can completely forget 
        | about these things, rather think constantly thinking about them the rest 
        | of the day, thus decreasing stress and improving concentration.

      button#hide-about &lsaquo; Hide About
      hr

  div#taskbar-container
    #current-task
      span
        strong Currently Set Task: &nbsp;
      span#current-task-text ?
      &nbsp;
      span
        a(href='#', data-target='current-task-text', data-msg='Current Task') [edit]

    p#usage-no-timer Enter the first task.
    p#usage-timer
      | Enter the amount of time to spend doing the <em>current</em> task before being alerted
      | when it's time to do the next task.

    form#taskbar(name='taskbar', action='')
      #task-bar
        #timer-input
          label(for='hours') Hours
          input#hours(type='text', size='1', value='00')
          label(for='minutes') Minutes
          input#minutes(type='text', size='1', value='00')
          label(for='hours') Seconds
          input#seconds(type='text', size='1', value='00')
        #task-input
          strong#task-desc Current Task &nbsp;
          input#task(type='text', placeholder='Task', autofocus)
          input(type='submit', value='Set')
      div
        label(for='sound') Sound
        input#sound-check(type="checkbox", title="Play sound with alarm", value="sound", checked)
      #time-bar
        span#update-time &nbsp;
        a#stop-countdown(href='#') stop early &nbsp;
        a#cancel-countdown(href='#') cancel

    #next-task-name
      span
        strong Next Task: &nbsp;
      span#next-task .larger-text ? &nbsp;
      span
        a(href='#', data-target='next-task', msg='Next Task') [edit]

  #notes
    fieldset#current-notes-input
      legend Current Task Notes &nbsp;
        a#current-notes(href='#') [clear]
      textarea#current-textarea(rows='6', cols='20')

    fieldset#next-notes-input
      legend Next Task Notes &nbsp;
        a#next-notes(href='#') [clear]
      textarea#next-textarea(rows='6', cols='20')

  #todo
    #todo-list-heading To-Do List
    form(name='todoform', action='', onsubmit='todo_add(); return false;')
      span#todo-task-input-desc
        label(for='todo-task') Task 
        input#todo-task(type='text')
      span
        input(type='submit', value='Add')
      #todo-list-box
        ul#todo-list

  #completed-tasks-log
    h3 Completed Tasks / Time Log
    ul#completed-tasks
      li#question-mark ?
