extends layout

block content
  h1= title
  h2 One task at a time.

  script
    $(document).on("submit", "form#taskbar", function(e) { 
      e.preventDefault(); startTimer(); 
    });

  #about-container
    #about

  #current-task
    span
      strong Currently Set Task: &nbsp;
    span#current-task-text ?
    &nbsp;
    span
      a(href='#', onclick='edit_task("current-task-text", "Current Task"); return false') [edit]

  p#usage-no-timer Enter the first task.
  p#usage-timer
    | Enter the amount of time to spend doing the <em>current</em> task before being alerted
    | when it's time to do the next task.

  div
    form(name='taskbar', id='taskbar', action='')
      #task-bar
        #timer-input
          label(for='hours') Hours
          input(type='text', id='hours', size='1', value='00')
          label(for='minutes') Minutes
          input(type='text', id='minutes', size='1', value='00')
          label(for='hours') Seconds
          input(type='text', id='seconds', size='1', value='00')
        #task-input
          strong#task-desc Current Task &nbsp;
          input(type='text', id='task', placeholder='Task', autofocus)
          input(type='submit', id='submit', value='Set')
      div
        label(for='sound') Sound
        input(type="checkbox", id="sound-check", title="Play sound with alarm", value="sound", checked)
      #time-bar
        span#update-time &nbsp;
        a(href='#', onclick='stopCountdown(); return false;') stop early &nbsp;
        a(href='#', onclick='cancelCountdown(); return false;') cancel

  #next-task-name
    span
      strong Next Task: &nbsp;
    span#next-task .larger-text ? &nbsp;
    span
      a(href='#', onclick='edit_task("next-task", "Next Task"); return false;') [edit]

  #notes
    fieldset#current-notes-input
      legend Current Task Notes &nbsp;
        a(href='#', onclick='clear_current_notes(); return false;') [clear]
      textarea(id='current-textarea', rows='6', cols='20')

    fieldset#next-notes-input
      legend Next Task Notes &nbsp;
        a(href='#', onclick='clear_next_notes(); return false;') [clear]
      textarea(id='next-textarea', rows='6', cols='20')

  #todo
    #todo-list-heading To-Do List
    form(name='todoform', action='', onsubmit='todo_add(); return false;')
      span#todo-task-input-desc
        label(for='todo-task') Task 
        input(type='text', id='todo-task')
      span
        input(type='submit', value='Add')
      #todo-list-box
        ul#todo-list

  #completed-tasks-log
    h3 Completed Tasks / Time Log
    ul#completed-tasks
      li#question-mark ?
