doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/unitaskr.css')

    script(src="js/lib/jquery/jquery.min.js")
    script(src="js/lib/backbone/underscore.js")
    script(src="js/lib/backbone/backbone.js")
    //script(src="js/lib/backbone/backbone.localStorage.js")
    script(src="js/models/todo.js")
    script(src="js/collections/todos.js")
    script(src="js/views/app.js")
    script(src="js/views/about.js")
    script(src="js/views/taskbar.js")
    script(src="js/views/notes.js")
    script(src="js/views/todo.js")
    script(src="js/routers/router.js")
    script(src="js/app.js")
    script(src="js/unitaskr.js")
  body
    block content
